<div id="video" class="kidsUI">
<div class="selectEnt">
  <ul>
    <li><a href="#"> <img src="/images/assets/kmovie.png" alt=""> </a></li>
    <li><a href="#"> <img src="/images/assets/ktv.png" alt=""> </a></li>
    <li>  <a href="#"> <img src="/images/assets/kmusic.png" alt=""> </a></li>
  </ul>
</div>
    <div>
      <h2>{{ greeting }}</h2>
        <p>{{intro}}</p>
      <aside>
        <h4>{{ defaultMovie.kids_title }}</h4>
        <span>
          {{ defaultMovie.kids_year }} &nbsp;&bull;&nbsp; {{ defaultMovie.kids_run }}
        </span>
        <br>
        <i> {{ defaultMovie.genre_name }}</i>
      </aside>

      <video autoplay controls>
        <source src="/videokids/{{ defaultMovie.kids_videos }}" type="video/mp4">
      </video>
      <p>{{defaultMovie.kids_desc}}</p>
    </div>

    <div class="kmoviesList" id="kapp">
      <section class="genre-lists" v-for="genre in genres">
        <div v-if="genre.kids.length > 0">
          <div class="genre-item">
            <h6 class="genre-name">${ genre.name }</h6>
            <div class="movie-list" v-for="kid in genre.kids">
              <a :href="'/kidsvideos/' + kid.kids_id + '/' + kid.kids_videos">
                <img class="movie-thumb" :src="'/images/' + kid.kids_images" :alt="kid.kids_title">
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>

<div class="otherCat">
  <a href="#"> <img src="/images/assets/comedy.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/adventure.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/sports.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/educational.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/serious.png" alt=""> </a>
  <a href="#"> <img src="/images/assets/favourites.png" alt=""> </a>

</div>
</div>
